@import "variables";
@import "mixins";
@import "typography";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}

.text-primary {
    color: $theme-primary !important;
}

p {
    line-height: 1.75;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: darken($theme-primary, 10%);
    }
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

#mainNav {
    background-color: $theme-primary;
    border-bottom: 1px solid $gray-lighter; 
    .navbar-toggler {
        border: 0;
        color: white;
        background-color: $theme-primary;
        font-size: 12px;
        text-transform: uppercase;
        @include heading-font;
        padding: 13px;
        right: 0;
    }
    .container {
        padding: 0;
        .navbar-brand {
            color: white;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: darken($theme-primary, 10%);
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 90%;
                    padding: 0.75em 0;
                    @include heading-font;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: white;
                    &:hover,
                    &.active {
                        color: white;
                        text-decoration: underline; 
                    }
                }
            }
        }
    }
}

@media(min-width:992px) {
    #mainNav {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                }
            }
        }
        &.navbar-shrink {
            background-color: $theme-primary;
            border-bottom: 1px solid $gray-lighter; 
            padding: 0;
            .navbar-brand {
                padding: 12px 0;
                font-size: 1.25em;
            }
        }
    }
}

header {
    // background-image: url('../img/header-background-01.png');//
    background-color: $theme-primary;
    height:100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        font-size: 1rem;
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            height:100vh;
            font-size: 1.5em;
        }
    }
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 150px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out($theme-primary, .9);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}


// Contact Section

section#contact {
    background-color: $theme-primary;
    color:white;
    font-size: 1.5rem;

}

// Footer

footer {
}

// Social Buttons

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: left;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}
